.news-item {
  width: 100%;
  min-height: 270px;
  display: flex;
  align-items: flex-start;
  padding: var(--padding-l);
  overflow-x: hidden;
  border-radius: 10px;
  background-color: var(--demytransp-color);
}

.news-item::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.news-item::-webkit-scrollbar-thumb {
  border-radius: 5px;
  width: 5px;
  background: var(--main-color);
}

.news-item::-webkit-scrollbar-track {
  height: 2px;
  background: var(--demytransparent-color);
  border-radius: 5px;
}

.news-item img {
  width: 250px;
  height: 150px;
  border-radius: 10px;
  margin: 10px 0;
}

.text-news {
  display: flex;
  flex-direction: column;
  gap: var(--gap-s);
  padding-left: var(--padding-l);
}

.text-news a {
  font-size: 1.8rem;
  font-weight: 900;
  color: var(--main-color);
}

@media screen and (max-width: 800px) {
  .news-item {
    flex-wrap: wrap;
    justify-content: center;
  }
}
